################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
#   libraries
/libraries/Algebra/obj
/libraries/Algebra/bin
/libraries/Physics/obj
/libraries/Physics/bin

#   tests
/tests/Algebra-Tests/obj
/tests/Algebra-Tests/bin
/tests/Physics-Tests/obj
/tests/Physics-Tests/bin
/.ws
